.footer{
	width: 100%;
	height: 150px;
	background-color: rgba(0,0,0,0.85);
}

.footerBox{
	width: 960px;
	margin: auto;
	padding-top:30px; 
}
.footerBox .iconPart{
	display: block;
	text-align: center;
}
.footerBox .iconPart li{
	width: 40px;
	height: 34px;
	padding-top: 6px;
	line-height:32px;
	text-align: center;
	background-color: #bd6b64;
	display: inline-block;
	color:#000;
	border-radius: 50%;
	margin: 0 10px;
	font-size: 24px;
	font-family:  "Felix Titling","Arial";
}

.footerBox .navPart{
	display: block;
	text-align: center;
}
.footerBox .navPart li{
	line-height:32px;
	text-align: center;
	display: inline-block;
	color:rgba(255,255,255,0.7);
	margin: 0 5px;
	font-size: 12px;
	font-family:  "Felix Titling","Arial";
}

.footerBox .nav2Part{
	display: block;
	text-align: center;
}
.footerBox .nav2Part li{
	line-height:20px;
	text-align: center;
	display: inline-block;
	color:rgba(255,255,255,0.4);
	margin: 0 5px;
	font-size: 10px;
	height: 20px;
	font-family: "Felix Titling","Arial";
	
}
.footerBox a{
	text-decoration: none;
}

.footerBox .nav2Part li+li{
	border-left: 1px solid rgba(255,255,255,0.4);
	padding-left: 10px;
}

.footerDown{
	width: 100%;
	height: 70px;
	background-color: #8a1754;
	opacity: 0.9;
}

.footerDownBox{
	width: 960px;
	padding-top: 30px;
	margin: auto;
	text-align: center;
}

.footerDownBox span{
	color:#FFF;

}